{% extends 'base.html' %}
{% load static %}
{% block content %}
                <form method="POST" class="settings" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="settings__title">
                        Налаштування
                    </div>
                    <div class="settings__block">
                        <div class="settings__item">
                            <div class="settings__item--title">
                                Деталі:
                            </div>
                            {{form.errors}}
                            <div class="change">
                                <div class="change__item">
                                    <label for="">Аватар</label>
                                    <div class="change__image">
                                        <img src="{{ user.image.url }}" alt="" class="change__photo">
                                        <img class="change__delete img-svg" src="{% static 'img/icon/delete.svg' %}" alt="">
                                        <img class="change__edit img-svg" src="{% static 'img/icon/edit.svg' %}" alt="">
                                    </div>

                                </div>
                                <div class="change__item">
                                    <label for="">Прізвище</label>
                                    {{ form.surname.errors }}
                                    {{ form.surname }}
                                </div>
                                <div class="change__item">
                                    <label for="">Ім'я</label>
                                    {{ form.first_name.errors }}
                                    {{ form.first_name }}
                                </div>
                                <div class="change__item">
                                    <label for="">По-батькові</label>
                                    {{ form.last_name.errors }}
                                    {{ form.last_name }}
                                </div>
                            </div>
                        </div>
                        <div class="settings__item">
                            <div class="settings__item--title">
                                Інформація:
                            </div>
                            <div class="change">
                                <div class="change__item">
                                    <label for="">Логін</label>
                                    {{ form.username.errors }}
                                    {{ form.username }}
                                </div>
                                <div class="change__item">
                                    <label for="">Електронна пошта</label>
                                    {{ form.email.errors }}
                                    {{ form.email }}
                                </div>
                                <div class="change__item">
                                    <label for="">Телефон</label>
                                    {{ form.phone_number.errors }}
                                    {{ form.phone_number }}
                                </div>
                                <div class="change__item">
                                    <label for="">Група</label>
                                    <div class="change__text">
                                        РЗ-171
                                    </div>
                                </div>
                                <div class="change__item">
                                    <label for="">Курс</label>
                                    <div class="change__text">
                                        4
                                    </div>
                                </div>
                                <div class="change__item">
                                    <label for="">Семестр</label>
                                    <div class="change__text">
                                        8
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="settings__item">
                            <div class="settings__item--title">
                                Зміна паролю:
                            </div>
                            <div class="change">
                                <div class="change__item">
                                    <label for="">Поточний пароль</label>
                                    <input type="password" name="" id="" placeholder="">
                                </div>
                                <div class="change__item">
                                    <label for="">Новий пароль</label>
                                    <input type="password" name="" id="" placeholder="">
                                </div>
                                <div class="change__item">
                                    <label for="">Повторити новий пароль</label>
                                    <input type="password" name="" id="" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="settings__item">
                            <div class="settings__item--title">
                                Інше:
                            </div>
                            <div class="change">
                                <div class="change__item">
                                    <label for="">Мова</label>
                                    <select class="change__select">
                                        <option value="ukr">Українська</option>
                                        <option value="rus">Русская</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="settings__save">
                        <button class="settings__btn" type="submit">
                            <img class="img-svg" src="{% static 'img/icon/floppy-disk.svg' %}" alt="">
                            Зберегти
                        </button>
                    </div>
                </form>
{% endblock %}